/** 链接去掉下划线*/
a, a:hover, a:visited, a:link {
    text-decoration: none;
}

a:hover {
    /*鼠标悬停链接颜色*/
    color: #f0ad4e;
}

/* 超过一行显示省略号*/
.single_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 首行缩进2字符*/
p {
    text-indent: 2em;
}

pre {
    margin-left: 3em;
    /*padding-left: 2em;*/
}

/** 图片设置为圆角*/
img {
    border-radius: 6px;
}

.dsd_catalog {
    padding: 10px;
}

/** 默认隐藏左边的内容导航*/
.dsd_catalog_left_hide {
    display: none;
}

/** 显示左边的内容导航*/
.dsd_catalog_left_show {
    padding-left: 10px;
}

.dsd_title {
    border: 1px solid #eee;
    border-left-color: #337ab7;
    border-left-width: 3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
}

/** 一级标题*/
.dsd_title_1 {
    padding-left: 5px;
}

/** 二级标题*/
.dsd_title_2 {
    padding-left: 15px;
}

#sx_index_button_text {
    position: fixed;
    top: 100px;
    width: 24px;
    background-color: #337ab7;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 999999
}

#xs_content_border {
    padding-left: 3px;
}

.dsd_callout {
    border: 1px solid #eee;
    border-left-width: 3px;
    border-radius: 3px;
    border-left-color: #5cb85c;
    padding-left: 5px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    /* .footer 的高度，为 footer 占位 */
    padding-bottom: 80px;
}

.fullscreen {
    min-height: 100%;
    /** overflow-y属性很重要, 可以撑大内容显示区, 如果不设置这个显示不正常*/
    overflow-y: hidden;
}

nav {
    position: absolute;
    top: 0;
    background-color: #666666;
}

footer {
    background-color: #666666;
    opacity: 0.8;
}

footer > a {
    color: white;
}

.xs_content_border {
    padding-bottom: 80px;
}
